// Anek Latin Font Family

@font-face {
  font-family: 'Anek Latin';
  src: url('./Assets/Fonts/Anek_Latin/static/AnekLatin-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anek Latin';
  src: url('./Assets/Fonts/Anek_Latin/static/AnekLatin-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anek Latin';
  src: url('./Assets/Fonts/Anek_Latin/static/AnekLatin-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anek Latin';
  src: url('./Assets/Fonts/Anek_Latin/static/AnekLatin-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anek Latin';
  src: url('./Assets/Fonts/Anek_Latin/static/AnekLatin-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anek Latin';
  src: url('./Assets/Fonts/Anek_Latin/static/AnekLatin-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anek Latin';
  src: url('./Assets/Fonts/Anek_Latin/static/AnekLatin-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anek Latin';
  src: url('./Assets/Fonts/Anek_Latin/static/AnekLatin-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
